<div>
  <div>
    <h1 align="center">日本料理サロン</h1><br>
  </div>
  
  <div>
    <dl style="font-size: 18px; text-align: left; list-style: none;">
      <% @recipes.each do |recipe| %>
        <ul align="center">
          <p><%= link_to recipe.title, recipe %></p>
        </ul>
      <% end %>
    </dl>
  </div>
  <%= paginate @recipes %>
</div>

