<div style="text-align:center;">
  <h1><%= @recipe.title %></h1>
</div>

<div class="row">
  
  <aside class="col-md-5 col-sm-6" align="center">
    <%= image_tag @recipe.image, style: "width: 100%;" %>
  </aside>
  
  <div class="col-md-7 col-sm-12" style="margin-top: 30px;">
    <p style="font-size: 18px;"><%= sanitize(@recipe.content.gsub(/\r\n|\n|\r/, "<br>")) %></p>
  </div>
  
  <div style="margin-top: 20px; margin-left: 10px;">
    <%= link_to '一覧に戻る', :back %>
  </div>
  
  
</div>




  
  