<div align="center">
  <h1><%= @recipe.title %></h1>
</div>

<div class="row">
  
  <aside class="col-md-5 col-sm-6" align="center">
    <img src="<%= "/recipe_image/#{@recipe.image}" %>" width="400" height="400">
  </aside>
  
  <div class="col-md-7 col-sm-12" style="margin-top: 30px;">
    <h2 style="font-size: 18px;"><%= sanitize(@recipe.content.gsub(/\r\n|\n|\r/, "<br>")) %></h2>
  </div>
  
  <div style="margin-top: 20px; margin-left: 10px;">
    <%= link_to '一覧に戻る', :back %>
  </div>
  
  
</div>




  
  